section 
    h2 Odszyfrujmy Twoją tajną wiadomość.

    p Oto twój szyfrogram: snippet;
    p Użyjemy do tego klucza prywatnego, który wygenerowałeś chwilę wcześniej. <strong class="decrypt">Odszyfruj</strong>.

    p.key.decrypted-text

    span.scroller.slides-scroller Kończymy...
