section 
    h2 Odszyfrujmy Twoją tajną wiadomość.

    main
        p Żeby odczytać szyfrogram, użyjemy do tego klucza prywatnego, który wygenerowałeś chwilę wcześniej. <strong class="decrypt">Odszyfruj</strong>.

        pre.key.decrypted-text

    span.scroller.deactive.slides-scroller Kończymy...
