section 
    h2 Odszyfrujmy Twoją tajną wiadomość.

    main
        p Oto twój szyfrogram: snippet;
        p Użyjemy do tego klucza prywatnego, który wygenerowałeś chwilę wcześniej. <strong class="decrypt">Odszyfruj</strong>.

        pre.key.decrypted-text

    span.scroller.deactive.slides-scroller Kończymy...
