section 
    h2 Zaszyfrujmy coś.

    main 
        p.text-to-encrypt(contenteditable) Zmień moją treść i zaszyfruj dowolne dane! (LPM > wprowadź tekst przy użyciu klawiatury)
        p Użyjemy do tego klucza publicznego, który wygenerowałeś przed chwilą. <strong class="encrypt">Szyfruj</strong>.

        pre.key.encrypted-text

    span.scroller.deactive.slides-scroller Prawie koniec!
