section 
    h2 Zaszyfrujmy coś.

    main 
        p Użyjemy do tego klucza publicznego, który wygenerowałeś przed chwilą. Tekst który powstanie nazywany jest szyfrogramem. <strong class="button encrypt">Szyfruj</strong>.
        pre.key.text-to-encrypt(contenteditable) Zmień moją treść i zaszyfruj dowolne dane! (LPM > wprowadź tekst przy użyciu klawiatury)

        pre.key.encrypted-text

    span.scroller.deactive.slides-scroller Prawie koniec!
