section 
    h2 Przykład z życia wzięty!

    main 
        p Wyobraź sobie, że rozdajesz kłódki wszystkim swoim znajomym, każdy może zamknąć pudełko i wysłać je do ciebie, ale to ty jesteś jedyną osobą, która może otworzyć pudełka.  Gdy znajomy zamknie pudełko, nawet on sam nie będzie mógł go otworzyć. 
        p Natomiast sama dystrybucja kłódek jest bardzo łatwa. Klucze publiczne są takie same - możesz je bezpiecznie upublicznić.

    span.scroller.slides-scroller Kontynuuj przygodę!
