section 
    h2 Stwórzmy dla Ciebie klucz publiczny!

    main 
        p Żeby iść dalej, musimy wygenerować pierwszy klucz. <strong class="button generate-public">Generuj</strong>. No kliknij mnie...
        pre.key.public-key

    span.scroller.deactive.slides-scroller Tak trzymaj!
