section 
    h2 Stwórzmy dla Ciebie klucz prywatny!

    main
        p Teraz nadszedł czas na klucz prywatny. W normalnych warunkach, nie powinien go widzieć nikt poza Tobą! <strong class="generate-private">Generuj</strong>. Na co czekasz?
        pre.key.private-key

    span.scroller.slides-scroller Nie zatrzymujmy się!
