section 
    h2 Stwórzmy dla Ciebie klucz publiczny!

    main 
        p <strong class="generate-public">Generuj</strong>. No kliknij mnie...
        pre.key.public-key

    span.scroller.slides-scroller Tak trzymaj!
