section.landing 
    h1 Kochajmy RSA!
    
    span.scroller kliknij, aby rozpocząć swoją przygodę po świecie kryptografii
    strong.mobile-notification UWAGA! Wykryliśmy, że używasz urządzenia mobilnego. Nasza strona powinna wyświetlić się poprawnie, ale nie jest w pełni kompatybilna. Przepraszamy!
