section 
    h2 Przepis na RSA... 

    main 
        p Możemy wyróżnić 3 główne fazy algorytmu:

        ol 
            li <strong>Generowanie kluczy</strong>. Ten publiczny przekazujemy do wszystkich zainteresowanych, a prywatny zatrzymujemy tylko dla siebie. To on w przyszłości umożliwi nam rozszyfrowanie danych. 
            li <strong>Szyfrowanie danych za pomocą klucza publicznego</strong>. Tak otrzymany szyfrogram przekazujemy zainteresowanym instytucjom. Nie musimy się martwić o jego bezpieczeństwo, ponieważ algorytm jest nieodwracalny.
            li Adresat po otrzymaniu wiadomości rozszyfrowuje ją za pomocą tajnego klucza.

    span.scroller.slides-scroller Pokażemy ci więcej! 