section 
    h2 Podsumowanie!

    main 
        p I co? Już rozumiesz? My też nie, ale to może nawet lepiej... A tak swoją drogą! 
        p W trakcie twojej nauki, złamano właśnie <strong class="percent-display">x%</strong> szyfru RSA o wielkości 128 bitów! 
        p Bardzo dobrze, że aktualnie używa się aż <strong>16</strong> razy większych, a czas jego łamania wydłuża się do <strong>300 bilionów</strong> lat!

        p Zachęcamy również do zapoznania się z opracowaniem w wersji PDF. <a href="./assets/rsa-algorithm-overview.pdf">Pobierz.</a>

        //- p Chcesz jeszcze coś zaszyfrować? Wejdź na [/playground]!

