section 
    h2 Podsumowanie!

    main 
        p I co? Już rozumiesz? My też nie, ale to może nawet lepiej... 
        
        p A tak swoją drogą! W trakcie twojej nauki, złamano właśnie <strong class="percent-display">x%</strong> szyfru RSA o wielkości 128 bitów! 
       
        p Bardzo dobrze, że aktualnie używa się kluczy <strong>16</strong> razy większych, a czas jego łamania wydłuża się aż do <strong>300 bilionów</strong> lat!

        p Zachęcamy również do zapoznania się z <a href="./assets/rsa-algorithm-overview.pdf" target="_blank">opracowaniem w wersji PDF</a>. 

        p Chcesz jeszcze coś zaszyfrować? Wejdź na nasz <a href="https://playground.rsa.themixhelp.ovh/" target="_blank">plac zabaw</a>!

