section 
    h2 Podsumowanie!

    p I co? Już rozumiesz? My też nie, ale to może nawet lepiej... A tak swoją drogą! 
    p W trakcie twojej nauki, złamano właśnie <strong>x%</strong> szyfru RSA o wielkości 128 bitów!
    //- p Chcesz jeszcze coś zaszyfrować? Wejdź na [/playground]!

