section 
    h2 Podsumowanie!

    p I co? Już rozumiesz? My też nie, ale to może nawet lepiej... A tak swoją drogą! 
    p W trakcie twojej nauki, złamano właśnie <strong class="percent-display">x%</strong> szyfru RSA o wielkości 128 bitów!

    p Zachęcamy również do zapoznania się z wersją PDF. <a href="./assets/rsa-algorithm-overview.pdf">Pobierz tutaj.</a>
    //- p Chcesz jeszcze coś zaszyfrować? Wejdź na [/playground]!

