@use './utilities/reset.scss';
@use './utilities/variables.scss' as *;

@use './section.scss';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=VT323&display=swap');

body {
	color: $light;
	background-color: $dark;

	font-size: $font-size;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;

	overflow: hidden;
}

strong {
	font-weight: 700;
}

.landing {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	h1 {
		padding-bottom: 0.25em;

		font-size: 8em;
		font-family: 'VT323', monospace;
	}
}

.scroller {
	cursor: pointer;
}

@media only screen and (max-width: 1280px) {
	body {
		font-size: $font-size-mobile;
	}
}
