extends ./layout.pug

block title 

    title Kochajmy RSA - Home

block content 

    include ./views/landing.pug

    include ./views/sections/why-we-should-use-rsa.pug
    include ./views/sections/example-of-rsa-in-use.pug
    include ./views/sections/rsa-algorithm-structure.pug

    include ./views/sections/generating-public-key.pug
    include ./views/sections/generating-private-key.pug

    include ./views/sections/encrypting-data.pug
    include ./views/sections/decrypting-data.pug

    include ./views/sections/summary.pug
