doctype html
html(lang="pl")
    head
        meta(charset="UTF-8")

        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title Kochajmy RSA!

        link(rel="stylesheet", href="./styles/main.scss")

        link(rel="shortcut icon", href="./assets/favicon.webp", type="image/x-icon")

    body

        //- include ./views/landing.pug

        //- include ./views/sections/why-we-should-use-rsa.pug
        //- include ./views/sections/example-of-rsa-in-use.pug
        //- include ./views/sections/rsa-algorithm-structure.pug

        include ./views/sections/generating-public-key.pug

        //- include ./views/sections/summary.pug

        script(src="./scripts/index.js" type="module" defer) 
